.left-view{
	border-right:1px solid #D7D6D6
}
.navbar-plain,
.navbar-plain .subnavbar{
	background: none!important;
}
.right-view .page{
	background:#403F3F;
}
.mobile-view{
	width: 320px;
	height: 568px;
	background: white;
	box-shadow: 0px 0px 5px black;
	margin: 50px;10px;
}
.mobile-view .page{
	background: transparent;
}
.item-link.active{
	background: gray;
}