.left-view{
	border-right:1px solid #D7D6D6
}
.navbar-plain,
.navbar-plain .subnavbar{
	background: none!important;
}
.right-view .page{
	background:#403F3F;
}
.mobile-view{
	width: 320px;
	height: 568px;
	background: white;
	box-shadow: 0px 0px 5px black;
	margin: 50px;10px;
}
.mobile-view .page{
	background: transparent;
}

.item-link.active{
	background: gray;
}
ul{
	 display: block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 7px;
    font-size: 12px;
    position: relative;;
}
._node{
  position: relative;
  font-family: monospace;;
  cursor: pointer;;
}
._node:before{
  content : "\25be";
  position: absolute;
  top:0px;
  left:-10px;
}
._node.close:before{
  content : "\25b8";
  position: absolute;
  top:0px;
  left:-10px;
}
._node.noNode:before{
  content : "";
}
._node .localname{
  color:#311B92;
  font-weight: bold;
}
._node .classname{
  color: #D86204;
}
._node .id{
  color: green;
  font-weight: bold;
}
._node .label{
  color: purple;
  font-size: 10px;
}
._hover{
  outline: 2px solid red;
  opacity: 0.9;
}